/* Enter your custom styles here */

@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono';
body {
    font-family: "Open Sans", sans-serif;
}

.loginpage {
    background-image: url("preview.jpg");
    background-size: cover;
}

.dashboardpage {
    background-color: #cae4fb;
}

.usermenu {
    text-transform: capitalize;
}

.TMSUiStatusListHeaderToolBar {
    background-color: #00bcd4;
}

.TMSUiStatusListHeaderTitle {
    color: #ffffff;
}

.TMSUiStatusListHeaderIcons {
    cursor: pointer;
}

.TMSUiStatusListTaskBar {
    width: 100%;
    height: 5px;
    min-height: 0px;
    min-width: 0px;
}

.storyboardpage {
    background: #B0BEC5;
}

.commentssection {
    width: 100%;
}

.card-container {
    display: block;
    width: 22.92em;
    height: 28.46em;
    margin-right: 2em;
    margin-bottom: 2em;
    border-radius: 0.5em;
    background-color: #fff;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
    position: relative;
}

.card-top {
    width: 100%;
    height: 11.43em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    background-image: url("creating.jpg");
    background-size: cover;
    position: relative;
}

.card-top.create {
    background-image: url("creating.jpg");
}

.card-top.learn {
    background-image: url("https://image.ibb.co/dVsLTF/personalized_learning_2.png");
}

.card-top.ideas {
    background-image: url("https://image.ibb.co/mz8uoF/Learning_talking_in_a_group_with_other_people.jpg");
}

.blur {
    background-image: linear-gradient(to bottom, rgba(69, 77, 91, 0.5) 0%, rgba(43, 40, 50, 0.5) 60%);
    position: absolute;
    width: 100%;
    height: 100%;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.card-top span.project-type {
    width: 8.07em;
    height: 2.53em;
    position: absolute;
    z-index: 1;
    top: 3.19em;
    right: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2ca58d;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}


.card-top span.project-type.create {
    background-color: #00a8e8;
}


.progress {
    height: 0.31em;
    width: 60%;
    background-color: #2ca58d;
    position: relative;
}

.progress.create {
    background-color: #00a8e8;
}

.progress span {
    background-color: #00a8e8;
    width: 3.58em;
    height: 2.25em;
    border-radius: 0.25em;
    position: absolute;
    left: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 0.8em;
}

.content {
    display: flex column;
    position: relative;
}

.details {
    display: flex;
    justify-content: space-between;
    margin: 1.26em 1.59em;
}

.details span:nth-child(1) {
    font-size: 0.89em;
    color: #95989A;
}

.details span:nth-child(2) {
    font-size: 1.59em;
    transform: rotate(-90deg);
}

.title {
    color: #00a8e8;
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 1.12em;
}

.summary {
    color: #95989A;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 0.89em;
    height: 3.19em;
    overflow: hidden;
}
.project-info {
    display: flex;
    justify-content: space-around;
    margin-top: 1.12em;
    border: 0px solid #000;
}

.info {
    width: 33.333333%;
    display: flex column;
    justify-content: center;
    align-items: center;
}

.info span {
    display: block;
    margin: 0.81em 0;
    text-align: center;
}

.info span:nth-child(1) {
    color: #4D9BCF;
    font-size: 1.12em;
    font-weight: light;
    font-family: 'Roboto Mono', monospace;
}

.info span:nth-child(2) {
    color: #3D3D3D;
    text-transform: uppercase;
}


/*.card {*/


/*    width: 200px;*/


/*    height: 200px;*/


/*    float: left;*/


/*    perspective: 500px;*/


/*}*/


/*.closebutton {*/


/*    float: right;*/


/*    margin-right: 5px;*/


/*    margin-top: 5px;*/


/*    background: #f44336;*/


/*    padding-left: 8px;*/


/*    padding-right: 8px;*/


/*    margin-bottom: 15px;*/


/*    border-radius: 50%;*/


/*    cursor: pointer;*/


/*}*/


/*.backdescription {*/


/*    margin-top: 50px;*/


/*}*/


/*.frontdescription {*/


/*    padding-top: 40%;*/


/*}*/


/*.content {*/


/*    position: absolute;*/


/*    width: 100%;*/


/*    height: 100%;*/


/*    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);*/


/*    transition: transform 1s;*/


/*    transform-style: preserve-3d;*/


/*}*/


/*.card:hover .content {*/


/*    transform: rotateY( 180deg);*/


/*    transition: transform 0.5s;*/


/*}*/


/*.front,*/


/*.back {*/


/*    position: absolute;*/


/*    height: 100%;*/


/*    width: 100%;*/


/*    background: white;*/


/*    line-height: 25px;*/


/*    color: #03446A;*/


/*    text-align: center;*/


/*    font-size: 20px;*/


/*    border-radius: 5px;*/


/*    backface-visibility: hidden;*/


/*}*/


/*.back {*/


/*    background: #03446A;*/


/*    color: white;*/


/*    transform: rotateY( 180deg);*/


/*    line-height: 25px;*/


/*}*/


/* Comments giving a hard time to align itself */

.sapMFeedListItem .sapMFeedListItemTextText .sapMFeedListItemTextString {
    line-height: 2.4;
}


/* Again Feed control doesnt have width property */

.sapUiRespGridMedia-Std-Tablet.sapUiRespGridHSpace0>.sapUiRespGridSpanM2 {
    width: 100%;
}

.commentsections {
    width: 100% !important;
}


/* UL to have minimum height for dropping empty container */

.sapMListUl {
    height: auto;
    min-height: 200px;
}

.TMSUiDraggable {
    cursor: all-scroll;
}